<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.udacity.catchup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.pagerview.PagerActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.subscriptionsview.SubscriptionsActivity" />
        <activity
            android:name=".ui.detailsview.DetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.pagerview.PagerActivity" />

        <receiver android:name=".ui.widget.PostWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/post_widget_info" />
        </receiver>
        <!--suppress CheckTagEmptyBody -->
        <service
            android:name="com.udacity.catchup.ui.widget.PostIntentService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>